/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body{
  font-family:'Roboto Slab', serif;
}
header{
  font-family: sans-serif;
}
h1{

}
h2{

}
p{
  font-family: sans-serif;
}

main>p:first-of-type{
    font-weight: bold;
}